<h2>Void Transition State</h2>

<button *ngIf='!showMario' (click)="displayMario(true)" style="background-color: green; color: white; border: solid 2px white;">
  Show Mario
</button>
<button *ngIf='showMario' (click)="displayMario(false)" style="background-color: green; color: white; border: solid 2px white;">
  Hide Mario
</button>
<br />
<div class="row" *ngIf='showMario' [@heroState]="transitionState" style="width: max-content; margin-right: 15px; margin-top: 75px;">
  <img src="{{ mario }}" style="height: 150px;" />
</div>
