<h2>Multi Step Animation</h2>
<button (click)="displayItem()">Show Item</button>
<div class="row" *ngIf='showItem' style="width: 40%; margin-right: 15px">
  <img src="{{ mario }}" style="height: 150px;" (click)="toggleState()" [@heroState]="state" />
</div>
