<h3>Simple Animation Module</h3>
<div >
  <img src="{{ mario }}" style="height: 150px;" [@heroState]="transitionState" (@heroState.done)=animationDone() />
</div>
<button (click)="changeState()" >Animate</button>
