<h2>Parallel Animation</h2>
<button (click)="displayItem()">Show Item</button>
<div class="row" *ngIf='showItem' style="width: 40%; margin-right: 15px;">
  <img src="{{ mario }}" style="height: 150px; margin: 25px;" (click)="toggleState()" [@heroState]="transitionState" />
</div>
